<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <title>Express food</title>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/contact">Contact</a>
        </nav>
        
     <h1>Here is your express food</h1>

    <img src="/images/express_food.png" alt="express food" width="200px" />
    
    <p>Test our pizzas: </p>
    <p><a href="/pizzas/margarita">margarita</a></p>
    <p><a href="/pizzas/veggie">veggie</a></p>
    <p><a href="/pizzas/seafood">seafood</a></p>
    </body>
    </html>
    